@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  height: 100px;
}

.logo {
  width: 180px;
  height: auto;
}

nav {
  display: flex;
  gap: 30px;
}

.link {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: 700;
}

.ourTeam {
  color: #e60050;
}
