@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px; /* Increased padding */
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  height: 100px; /* Increased height */
}

.logo {
  width: 180px; /* Slightly bigger logo */
  height: auto;
}

nav {
  display: flex;
  gap: 30px; /* Increased spacing between links */
}

.link {
  text-decoration: none;
  color: #333;
  font-size: 20px; /* Slightly bigger font */
  font-weight: 700; /* Bolder text */
}

.ourTeam {
  color: #e60050; /* Apply color #e60050 to "Our Team" link */
}
