@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

.personalDetailsContainer {
  display: flex;
  height: 100vh;
  font-family: "Open Sans", sans-serif; /* Apply Open Sans font */
}

.sidebar {
  writing-mode: vertical-lr;
  text-orientation: upright;
  padding: 1.3rem;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.detailsForm {
  flex: 1;
  background: #e60050;
  color: white;
  padding: 2rem;
}

.detailsForm h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.inputGroup {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.inputGroup .icon {
  margin-right: 0.5rem;
}

input,
textarea {
  width: 461px; /* Set width to 461px */
  height: 56px; /* Set height to 56px */
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5rem;
}

textarea {
  height: 150px; /* Adjust height for the textarea */
  margin-top: 1rem;
}

.sidebarRight {
  writing-mode: vertical-lr;
  text-orientation: upright;
  background: orange;
  display: flex;
  justify-content: center;
  padding: 1.3rem;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
